---
const year = new Date().getFullYear();
---

<footer class="w-full py-8 px-6 border-t border-accent/10">
  <div class="max-w-5xl mx-auto text-center">
    <p class="text-secondary text-sm">
      Creado por <span class="font-semibold text-primary"
        ><a href="https://github.com/FreddyPerezDev" target="_blank"
          >Freddy Pérez</a
        ></span
      >
      {year}
    </p>
  </div>
</footer>
